<style>
  .sliderContainer {
    width: 100%;
  	display: flex;
  }
  
  .row {
  	margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
  }
  
  .row:after {
    clear: both;
  }
  
  .row:before, .row:after {
    content: " ";
    display: table;
  }

  .logbook-pagination{
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .pagination {
    display: inline-block;
    padding: 15px 0;
    margin: 20px 0;
    border-radius: 0;
    text-align: center;
    width: 100%;
    border: 1px solid #ccc;
  }

  .pagination ul {
    margin: 0;
    padding: 0;
  }
  
  .pagination ul:before, .pagination ul:after {
    content: " ";
    display: table;
  }
  
  .pagination ul>li.first-last:first-child {
    padding-right: 8px;
  }
  
  .pagination ul>li.first-last {
    min-width: 19px;
  }
  
  .pagination ul>li {
    font-size: 11px;
    font-size: .6875rem;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-right: -3px;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .pagination ul>li.first-last .page-previous::before, .pagination ul>li.first-last .page-next::before {
    font-weight: bold;
    position: relative;
    top: 1px;
  }
  
  .pagination ul>li.first-last .page-previous:before {
    display: inline-block;
    font-family: 'icomoon' !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
  }
  
  .icon-arrow-left:before, .cta.back:before, .pagination ul>li.first-last .page-previous:before {
    content: '\e907';
  }
  
  .pagination ul>li.current-page {
    color: #999;
    font-weight: normal;
    text-transform: lowercase;
  }
  
  .pagination ul>li.current-page .current {
    color: #333;
    font-weight: bold;
  }
  
  .pagination ul>li.first-last:last-child {
    padding-left: 8px;
    text-align: left;
  }
  
  .pagination ul>li.first-last {
    min-width: 19px;
  }
  
</style>

<div class="sliderContainer">
  <div class="row">
    <div class="logbook-pagination">
      <div class="pagination">
        <ul>
          <li class="first-last">
            <a class="page-previous" title="Go to previous page" href="https://www.emerica.com/eu/news/?start=0&amp;sz=8">
              <i class="fa fa-angle-left"></i>
              <span>Go to previous page</span>
            </a>
          </li>
          <li class="current-page" title="Currently on page: 2">
            <span class="current">2</span> of 14
          </li>
          <li class="first-last">
            <a class="page-next" title="Go to next page" href="https://www.emerica.com/eu/news/?start=16&amp;sz=8">
              <i class="fa fa-angle-right"></i>
              <span>Next Page</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>