<div class="country-selector_container">
  <div class="country-selector_link">
    <img alt="Select Country" src="{{ 'flag-us.png' | asset_url }}" />
  </div>
  <ul class="country-selector_dropdown">
    
    <li class="country-selector_item">
      <a href="https://emerica.com" class="country-selector_item-link">
        <img alt="American Flag" src="{{ 'flag-us.png' | asset_url }}" />
        <span>US</span>
      </a>
    </li>
    
    <li class="country-selector_item">
      <a href="https://eu.emerica.com" class="country-selector_item-link">
        <img alt="European Flag" src="{{ 'flag-eu.png' | asset_url }}" />
        <span>EUROPE + UK</span>
      </a>
    </li>
    
  </ul>
</div>