<div class="blog-gallery">
  {% for block in section.blocks %}
  {% render 'blog-gallery-item' blog_s: block.settings.blog, section: section%}
  {% endfor%}
</div>
{% schema %}
  {
    "name": "Blog Gallery",
    "settings": [
      {
        "type": "range",
        "id": "blog_posts_per_row",
        "label": "Posts per row",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
              {
                "type": "header",
                "content": "Blog posts"
              },
              {
                "type": "checkbox",
                "id": "blog_author",
                "label": "Show author"
              },
              {
                "type": "checkbox",
                "id": "blog_date",
                "label": "Show date",
                "default": true
              },
              {
                "type": "checkbox",
                "id": "read_time",
                "label": "Show estimated read time",
                "default": true
              },
              {
                "type": "checkbox",
                "id": "show_border",
                "label": "Show border",
                "default": true
              },
              {
                "type": "header",
                "content": "Layout"
              },
              {
                "type": "select",
                "id": "width",
                "label": "Width",
                "default": "standard",
                "options": [
                  {
                    "value": "standard",
                    "label": "Standard"
                  },
                  {
                    "value": "wide",
                    "label": "Wide"
                  }
                ]
              },
              {
                "type": "range",
                "id": "padding_top",
                "label": "Top spacing",
                "min": 0,
                "max": 80,
                "default": 40,
                "unit": "px"
              },
              {
                "type": "range",
                "id": "padding_bottom",
                "label": "Bottom spacing",
                "min": 0,
                "max": 80,
                "default": 40,
                "unit": "px"
              },
              {
                "type": "select",
                "id": "animation",
                "label": "Animation",
                "default": "none",
                "options": [
                  {
                    "value": "none",
                    "label": "None"
                  },
                  {
                    "value": "fadeIn",
                    "label": "Fade in"
                  },
                  {
                    "value": "fadeInDown",
                    "label": "Fade in down"
                  },
                  {
                    "value": "fadeInLeft",
                    "label": "Fade in left"
                  },
                  {
                    "value": "fadeInRight",
                    "label": "Fade in right"
                  },
                  {
                    "value": "slideInLeft",
                    "label": "Slide in left"
                  },
                  {
                    "value": "slideInRight",
                    "label": "Slide in right"
                  }
                ]
              }
	],
	"blocks":[
		{
			"type":"blog",
			"name":"Blog",
			"settings":[
              {
                "type":"blog",
                "id":"blog",
                "label":"Blog"
              }
            ]
                  }
              ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
