{% comment %}
  To edit the contents of this file, look inside the `sections` folder for the file name that comes directly after `section`. Eg. {% section 'product__main' %} or {% section 'page__banner' %}
{% endcomment %}

{% assign article_tag =  article.title %}
{% assign haveArticles = false%}

{% for link in linklists.blogs.links %}
{% assign blog_new = link.object %}
{% for article in blog_new.articles  %}
{% if article.tags contains article_tag %}
{% assign haveArticles = true %}
{% endif %}
{% endfor %}
{%endfor%}

<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section article-page" data-check-for-order="true">
  {% section 'article__banner' %}
  <section class="section__wrapper
                  section
                  ">
    <div class="container">
      {% section 'article__sidebar' %}
      {% section 'article__main' %}
      {% section 'blog-featured-collection' %}
      {% if haveArticles %}
      {% section 'blog-featured-articles' %}
      {% endif %}
    </div>
  </section>
</main>
<style>
  .article__title.title{
    margin-left: auto;
    margin-right: auto;
  }
  .heading-divider.heading-divider--short{
    margin: 0 auto;
  }
  .container.blog-meta{
    text-align: center;
  }
</style>